/***
* This files contains the css for the both sides of anki cards. 
*/
/* import highlightjs css */
@import "/node_modules/highlight.js/styles/default.css";

.card {
    background-color: white;
}

.text {
    font-family: arial;
    font-size: 16px;
    color: black;
}

code {
    font-family: monospace;
    font-size: 16px;
    background: #e9ecef;
    border-radius: 2px;
    padding: 2px;
}

p {
    margin: 0px;
    padding: 0px;
}

.MathJax[display="true"] {
    font-size: 18px;
}

.cloze {
    font-weight: bold;
    color: blue;
}

.extra {
    background-color: antiquewhite;
    border-radius: 4px;
    padding: 3px;
    font-size: small;
}

.extra:empty {
    display: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 20px 30px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 auto;
    display: block;
}

/* --- multiline card css --- */
.children-list {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    list-style: none;
    padding-left: 1.5rem;
}

.children {
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    min-height: 16px;
}

.children::before {
    content: "\2022";
    color: #d4d5d6;
    cursor: pointer;
    position: absolute;
    left: -2.1rem;
    top: -1px;
    font-size: 22px;
}

.children:hover::before {
    color: #b7b6b5;
    text-shadow: 0 0 2px black;
}

:not(.embed-page):not(.embed-block) > .children-list > .children::after {
    content: ' ';
    left: -3.3rem;
    background-color: #e9ecef;
    height: 100%;
    width: 2px;
    position: absolute;
    top:0px;
}

.children p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* --- logseq elements --- */
blockquote, .quote {
    display: block;
    text-indent: 0;
    padding: 8px 20px;
    border-left: 4px solid;
    border-left-color: #799bbc;
    background-color: #fbfaf8;
    margin: 1rem 0;
    color: rgb(40, 40, 40);
}

.center {
    display: block;
    text-align: center;
}

a.tag:before {
    content: "#";
}

a.tag {
    cursor: pointer;
    color: #106ba3;
    opacity: 0.8;
}

a.tag:hover {
    opacity: 1;
    transition: 0.3s;
}

a.page-reference {
    color: #106ba3;
}

a.page-reference:before {
    color: rgb(115, 115, 115);
    content: "[[";
    opacity: 0.3;
}

a.page-reference:after {
    color: rgb(115, 115, 115);
    content: "]]";
    opacity: 0.3;
}

a.page-reference:hover {
    background-color: #c8e6fa;
}

a.block-ref {
    border-bottom: .5px solid;
    border-bottom-color: #d8e1e8;
    text-decoration: none;
    color: black;
    cursor: alias;
    display: inline;
}

a.block-ref:hover {
    background-color: #c8e6fa;
}

a.failed-block-ref {
    color: black;
    background-color: #f56565;
    border-radius: 4px;
    cursor: not-allowed;
}

a.failed-block-ref:before {
    color: rgb(115, 115, 115);
    content: "((";
    opacity: 0.3;
}

a.failed-block-ref:after {
    color: rgb(115, 115, 115);
    content: "))";
    opacity: 0.3;
}

.embed-page, .embed-block {
    max-width: 100%;
    padding: 0.75em 0.5em;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 0.2em 0 0.5em;
    box-shadow: 0 0 0 2px #e9ecef;
    background: #f8f9fa;
}

a.embed-header {
    margin-left: 6px;
    font-weight: 600;
    color: #106ba3;
}

a.embed-header:hover {
    color: #004174;
}

/* --- UI css --- */
.bubble {
    font-family: arial;
    font-size: 12px;
    color: rgb(65, 65, 65);
    background-color: rgb(226, 236, 240);
    border-radius: 6px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 4px;
}

.note-action {
    margin: 4px;
}

.note-action:hover {
    cursor: pointer;
}

/* --- Night Mode support css --- */
.nightMode .cloze {
    color: lightblue;
}

.nightMode .text {
    color: white;
}

.nightMode .quote, .embed-block, blockquote {
    color: black;
}