/***
* This files contains the css for the front side of anki cards. 
*/
.extra {
    display: none;
}

.hidden-when-card-parent {
    visibility: hidden;
    position: relative;
}

.hidden-when-card-parent::before {
    content: "<Parent Hidden in Front Side of Card>";
    visibility: visible;
    background-color: rgb(226, 236, 240);
    border-radius: 6px;
    opacity: 0.6;
}

body.nightMode .hidden-when-card-parent::before {
    background-color: #4d4d4d;
}
