/* import highlightjs css */
@import "/node_modules/highlight.js/styles/default.css";

.card {
    background-color: white;
}

.text {
    font-family: arial;
    font-size: 16px;
    color: black;
}

.MathJax[display="true"] {
    font-size: 18px;
}

.breadcrumb2 {
    font-family: arial;
    font-size: 12px;
    color: rgb(65, 65, 65);
}

.cloze {
    font-weight: bold !important;
    color: blue !important;
}

.nightMode .cloze {
    color: lightblue !important;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

th,
td {
    padding: 20px 30px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 auto;
    display: block;
}

/* --- multiline card css --- */
.children-list {
    border-left: 2px solid;
    border-left-color: #e9ecef;
    padding-top: 2px;
    list-style: none;
    padding-left: 20px;
}

.children {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

.children::before {
    content: "\2022";
    color: #e9ecef;
    cursor: pointer;
    border-radius: 80%;
    padding-right: 10px;
    transition: 0.3s;
}

.children:hover::before {
    color: #b7b6b5;
    text-shadow: 0 0 6px black;
}

.children p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* --- custom css for logseq elements --- */
blockquote {
    display: block;
    text-indent: 0;
    padding: 8px 20px;
    border-left: 4px solid;
    border-left-color: #799bbc;
    background-color: #fbfaf8;
    margin: 1rem 0;
    color: rgb(40, 40, 40);
}

.text-center {
    display: block;
    text-align: center;
}

/* personal logseq elements */
.eexample {
    display: block;
    text-indent: 0;
    padding: 8px 20px;
    border-left: 4px solid;
    border-left-color: #c7c193;
    background-color: #fbfaf8;
    margin: 1rem 0;
    color: rgb(40, 40, 40);
}

.defination {
    display: block;
    text-indent: 0;
    padding: 8px 20px;
    border-left: 4px solid;
    border-left-color: #799bbc;
    background-color: #fbfaf8;
    margin: 1rem 0;
    color: rgb(40, 40, 40);
}

.theorem {
    display: block;
    text-indent: 0;
    padding: 8px 20px;
    border-left: 3px solid;
    border-left-color: #79a9bc;
    background-color: #fbfaf8;
    margin: 1rem 0;
    color: rgb(40, 40, 40);
}

.left {
    text-align: left;
}

.left .MathJax {
    text-align: left !important;
}

.left2 {
    text-align: left;
}

.left2 .MathJax {
    text-align: left !important;
    font-size: 80%;
    margin: 0px;
    padding: 0px;
}