<div style="display: flex; justify-content: space-between;">
    <div class="bubble breadcrumb2">
        {{Breadcrumb}}
    </div>
    <div class="note-actions">
        <span class="note-action bubble" onclick="openBlockInLogseq('{{uuid}}')" title="Open block in Logseq">➡️</span>
        <span class="note-action bubble" onclick="scrollToClozeElement()" title="Scroll to cloze">⏬</span>
    </div>
</div>
<span class="text">
    {{cloze:Text}}
</span>
<div class="extra">{{Extra}}</div>
<script> var config = {}; var uuid_type = ""; var type = ""; var load_event; </script>
<script> try{config = JSON.parse(`{{Config}}`); uuid_type = `{{uuid-type}}`; type = uuid_type.split('-').pop(); } catch(e) {console.log(e);} </script>
<script>(function () {load_event = new Event("load"); window.dispatchEvent(load_event);})();</script>
<script src="_logseq_anki_sync.js"></script>
<link rel="stylesheet" href="_logseq_anki_sync.css">
