<div style="display: flex; justify-content: space-between;">
    <div class="bubble breadcrumb2">
        {{Breadcrumb}}
    </div>
    <div class="note-actions">
        <span class="note-action bubble" onclick="scrollToClozeElement()" title="Scroll to cloze">
            ⇂
        </span>
    </div>
</div>
<span class="text">
    {{cloze:Text}}
</span>
<div class="extra">{{Extra}}</div>
<script> var config = {}; </script>
<script> try{config = JSON.parse(`{{Config}}`);} catch(e) {console.log(e);} </script>
<script src="_logseq_anki_sync.js"></script>
<link rel="stylesheet" href="_logseq_anki_sync.css">
